.footer {
  text-align: center;
  padding: 20px 0;
  &-public {
    border-top: 1px solid $gray-100;
    margin-top: 60px;
    position: relative;
    color: $gray-500;
    font-weight: 300;
    font-size: $font-size-base - 0.1;
    .footer-svg {
      right: 0;
      left: 0;
      position: absolute;
      fill: inherit;
      display: none;
    }
  }
}
