.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.thumb {
  overflow: hidden;
  display: block;
  position: relative;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;

}
