.tags {
  position: relative;

  .fw-input {
    padding: 5px;
  }

  &-menu {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.08);
    padding: 10px;
    z-index: 99;
    border-radius: 5px;
  }

  .chip {
    background-color: $gray-800;
    margin-bottom: 10px;
    button {
      background-color: transparent;
      border: none;
      color: $white;
      &:hover {
        color: $secondary;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-inline {
      display: flex;
      align-items: center;
    }
    li {
      padding: 6px;
      border-radius: 3px;
      svg {
        font-size: 10px;
        margin-right: 10px;
      }
      &:not(.active) {
        &:hover {
          background-color: $gray-100;
          color: $secondary;
        }
      }
      &.active {
        background-color: $gray-100;
        color: $secondary;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray-100;
      }
    }
  }
}
