.btn {
  &.icon {
    border-radius: 50px;
    padding: 3px;
    outline: none;
    line-height: 1;
    &:focus {
      outline: none;
      border-color: transparent;
    }
    @each $k, $v in $btn-icon-size {
      &-#{$k} {
        width: $v;
        height: $v;
      }
    }
  }

  &-outline {
    &-light {
      border-color: $gray-200;
      color: $gray-500;
    }
  }
  &-text {
    &:hover {
      background-color: $gray-200;
    }
  }
}
