html,
body {
  height: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: var(--font-roboto);
}

#__next {
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: $primary;
  &:hover {
    outline: none;
    color: $secondary;
  }
}

.auto {
  margin-left: auto;
  margin-right: auto;
}

.text-auto {
  margin-left: auto;
  margin-right: auto;
}
